<h1>User can edit CI</h1>
<ul>
  <li>Delete button. Delete must be un-doable. Delete doesn't actually remove the record from the database.</li>
  <li>Edit name, which must be unique</li>
  <li>Edit alternate names/alias (TBC)</li>
  <li>Set or clear watch on configuration item</li>
  <li>Select or de-select parents (multiple selections possible)</li>
  <li>Select or de-select children (multiple selections possible)</li>
  <!-- TODO: How could we show the impact of changes to the DAG? -->
  <li>Scrollable box with notes in reverse chronological order</li>
  <li>Add/Edit notes attached to outage (connects on a blog post-type model TBC)</li>
  <li>Add/Delete Tags</li>
  <!-- TODO: How to deal with CIs that should be the same but aren't?
              This could be a separate page explicitly for de-duplication. -->
</ul>

<h2>Attributes</h2>
<ul>
  <li>Name</li>
  <li>Long Description</li>
</ul>
